 <h1><center>Pandas series:period and periodIndex</center></h1>

### Yearly period

In [ ]:
# A means annal

In [2]:
import pandas as pd
y=pd.Period("2022")
y

Period('2022', 'A-DEC')

In [7]:
y.start_time

Timestamp('2022-01-01 00:00:00')

In [8]:
y.end_time

Timestamp('2022-12-31 23:59:59.999999999')

### Monthly period

In [10]:
m=pd.Period("2022-02")
m

Period('2022-02', 'M')

In [11]:
m.start_time

Timestamp('2022-02-01 00:00:00')

In [12]:
m.end_time

Timestamp('2022-02-28 23:59:59.999999999')

In [13]:
m+1            # This will start march month

Period('2022-03', 'M')

### Daily period

In [18]:
d=pd.Period("2022-07-22")
d

Period('2022-07-22', 'D')

In [19]:
d.start_time

Timestamp('2022-07-22 00:00:00')

In [20]:
d.end_time

Timestamp('2022-07-22 23:59:59.999999999')

In [21]:
d+1           # add one day.

Period('2022-07-23', 'D')

### Quartely period

In [27]:
q1=pd.Period("2022",freq="Q-Apr")       #q-April means quarter end in april.
q1

Period('2022Q3', 'Q-APR')

In [28]:
q1.start_time

Timestamp('2021-11-01 00:00:00')

In [29]:
q1.end_time

Timestamp('2022-01-31 23:59:59.999999999')

In [30]:
q1.asfreq('M',how='start')

Period('2021-11', 'M')

In [31]:
q1.asfreq('M',how='end')

Period('2022-01', 'M')

In [33]:
w = pd.Period('2022-07-05',freq='W')
w

Period('2022-07-04/2022-07-10', 'W-SUN')

In [34]:
w-1          # week delay.

Period('2022-06-27/2022-07-03', 'W-SUN')

### Periodindex and periodrange

In [37]:
r=pd.period_range("2020","2022",freq="q")
r

PeriodIndex(['2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1', '2021Q2',
             '2021Q3', '2021Q4', '2022Q1'],
            dtype='period[Q-DEC]')

In [38]:
r[0].start_time         #quarter start date.

Timestamp('2020-01-01 00:00:00')

In [39]:
r[0].end_time           #quarter end date.

Timestamp('2020-03-31 23:59:59.999999999')

### Now we know that walmart fiscal year end in january, generate wallmart's fiscal year form 2019 to 2022.

In [3]:
r=pd.period_range("2019","2022", freq="q-jan")
r

PeriodIndex(['2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1',
             '2021Q2', '2021Q3', '2021Q4', '2022Q1', '2022Q2', '2022Q3',
             '2022Q4'],
            dtype='period[Q-JAN]')

In [ ]:
#This will show the last quarter of 2018 starting time.

In [5]:
r[0].start_time

Timestamp('2018-11-01 00:00:00')

In [ ]:
# Ending period of last quarter of 2018.

In [6]:
r[0].end_time

Timestamp('2019-01-31 23:59:59.999999999')

### Now we generate some dummy value,so can show value by quarterwise.

In [9]:
import numpy as np
ps = pd.Series(np.random.randn(len(r)),r)
ps

2019Q4   -0.045190
2020Q1   -0.550257
2020Q2   -0.893721
2020Q3   -0.243921
2020Q4    0.179397
2021Q1   -0.758046
2021Q2   -0.173446
2021Q3    0.270192
2021Q4    0.959201
2022Q1   -0.242549
2022Q2   -0.216928
2022Q3   -1.719825
2022Q4    1.430097
Freq: Q-JAN, dtype: float64

### print the quarter of 2019

In [14]:
ps["2019"]

2019Q4   -0.045190
2020Q1   -0.550257
2020Q2   -0.893721
2020Q3   -0.243921
2020Q4    0.179397
Freq: Q-JAN, dtype: float64

### print the quarter between 2020 to 2022

In [19]:
ps["2020":"2022"]

2020Q4    0.179397
2021Q1   -0.758046
2021Q2   -0.173446
2021Q3    0.270192
2021Q4    0.959201
2022Q1   -0.242549
2022Q2   -0.216928
2022Q3   -1.719825
2022Q4    1.430097
Freq: Q-JAN, dtype: float64

### Converting between time representations.

In [21]:
pst = ps.to_timestamp()
pst

2018-11-01   -0.045190
2019-02-01   -0.550257
2019-05-01   -0.893721
2019-08-01   -0.243921
2019-11-01    0.179397
2020-02-01   -0.758046
2020-05-01   -0.173446
2020-08-01    0.270192
2020-11-01    0.959201
2021-02-01   -0.242549
2021-05-01   -0.216928
2021-08-01   -1.719825
2021-11-01    1.430097
Freq: QS-NOV, dtype: float64

In [22]:
pst.index

DatetimeIndex(['2018-11-01', '2019-02-01', '2019-05-01', '2019-08-01',
               '2019-11-01', '2020-02-01', '2020-05-01', '2020-08-01',
               '2020-11-01', '2021-02-01', '2021-05-01', '2021-08-01',
               '2021-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [23]:
ps = pst.to_period()
ps

2018Q4   -0.045190
2019Q1   -0.550257
2019Q2   -0.893721
2019Q3   -0.243921
2019Q4    0.179397
2020Q1   -0.758046
2020Q2   -0.173446
2020Q3    0.270192
2020Q4    0.959201
2021Q1   -0.242549
2021Q2   -0.216928
2021Q3   -1.719825
2021Q4    1.430097
Freq: Q-DEC, dtype: float64

In [24]:
ps.index

PeriodIndex(['2018Q4', '2019Q1', '2019Q2', '2019Q3', '2019Q4', '2020Q1',
             '2020Q2', '2020Q3', '2020Q4', '2021Q1', '2021Q2', '2021Q3',
             '2021Q4'],
            dtype='period[Q-DEC]')