### Reading From csv file

In [3]:
import pandas as pd
df=pd.read_csv("stock_data.csv")
df

  tickers            eps  REVENUE PRICE          PEOPLE
0   GOOGL          27.82       87   845      LARRY PAGE
1     WMT           4.61      484    65             N.A
2    MSFT             -1       85    64      BILL GATES
3     RIL  NOT AVAILABLE       50  1023  MUKESH AMABANI
4    TATA            5.6       -1   N.A      RATAN TATA

### Replace Not available with N.A value.

In [6]:
import pandas as pd
df=pd.read_csv("stock_data.csv", na_values=["NOT AVAILABLE","N.A"])
df

  tickers    eps  REVENUE   PRICE          PEOPLE
0   GOOGL  27.82       87   845.0      LARRY PAGE
1     WMT   4.61      484    65.0             NaN
2    MSFT  -1.00       85    64.0      BILL GATES
3     RIL    NaN       50  1023.0  MUKESH AMABANI
4    TATA   5.60       -1     NaN      RATAN TATA

### Replace -1 Value with not available.

In [10]:
import pandas as pd
df=pd.read_csv("stock_data.csv", na_values={
    'eps':[-1,"N.A"],
    'REVENUE':[-1,"N.A"],
    'PEOPLE':[-1,"N.A"],           
})
df

  tickers            eps  REVENUE PRICE          PEOPLE
0   GOOGL          27.82     87.0   845      LARRY PAGE
1     WMT           4.61    484.0    65             NaN
2    MSFT            NaN     85.0    64      BILL GATES
3     RIL  NOT AVAILABLE     50.0  1023  MUKESH AMABANI
4    TATA            5.6      NaN   N.A      RATAN TATA

### Now writing back to csv file

In [20]:
df.to_csv('newfile.csv')

### if we want to write only Two columns

In [18]:
df.to_csv("newfile1.csv",columns=['tickers','eps'])

### if want to remove header from dataframe

In [19]:
df.to_csv("newfile.csv",header=False)