### Read Datafrom Excelsheet

In [16]:
import pandas as pd
df=pd.DataFrame(pd.read_excel("Weather_book.xlsx"))
df

         Day  Temperature  Windspeed  Event
0 2022-05-01           32          6   Rain
1 2022-05-02           35          7  Dusty
2 2022-05-03           40          5   Rain
3 2022-05-04           28          4   Snow
4 2022-05-05           42          3  Sunny
5 2022-05-06           45          2  Sunny

### create dataframe using python dictionary.

In [17]:
import pandas as pd
Weather_data={
            "Day":["1/5/2022","2/5/2022","3/5/2022","4/5/2022","5/5/2022","6/5/2022"],
            "Temperature":[32,35,40,28,42,45],
            "Windspeed":[6,7,5,4,3,2],
            "Event":["Rain","Dusty","Rain","Snow","Sunny","Sunny"]
}
df=pd.DataFrame(Weather_data)
df

        Day  Temperature  Windspeed  Event
0  1/5/2022           32          6   Rain
1  2/5/2022           35          7  Dusty
2  3/5/2022           40          5   Rain
3  4/5/2022           28          4   Snow
4  5/5/2022           42          3  Sunny
5  6/5/2022           45          2  Sunny

### know the no.of Rows and Columns

In [18]:
rows,columns=df.shape

In [19]:
columns

4

In [20]:
rows

6

### First 3 Rows

In [21]:
df.head(3)

        Day  Temperature  Windspeed  Event
0  1/5/2022           32          6   Rain
1  2/5/2022           35          7  Dusty
2  3/5/2022           40          5   Rain

### Rows from 2 to 5.

In [22]:
df[2:5]

        Day  Temperature  Windspeed  Event
2  3/5/2022           40          5   Rain
3  4/5/2022           28          4   Snow
4  5/5/2022           42          3  Sunny

###  print all rows

In [23]:
df

        Day  Temperature  Windspeed  Event
0  1/5/2022           32          6   Rain
1  2/5/2022           35          7  Dusty
2  3/5/2022           40          5   Rain
3  4/5/2022           28          4   Snow
4  5/5/2022           42          3  Sunny
5  6/5/2022           45          2  Sunny

### Print Last Two Rows

In [24]:
df.tail(2)

        Day  Temperature  Windspeed  Event
4  5/5/2022           42          3  Sunny
5  6/5/2022           45          2  Sunny

### print all columns name

In [25]:
df.columns

Index(['Day', 'Temperature', 'Windspeed', 'Event'], dtype='object')

### Print column name Day

In [26]:
df["Day"]

0    1/5/2022
1    2/5/2022
2    3/5/2022
3    4/5/2022
4    5/5/2022
5    6/5/2022
Name: Day, dtype: object

### print column name Day,Windspeed,Event

In [27]:
df [['Day','Windspeed','Event']]

        Day  Windspeed  Event
0  1/5/2022          6   Rain
1  2/5/2022          7  Dusty
2  3/5/2022          5   Rain
3  4/5/2022          4   Snow
4  5/5/2022          3  Sunny
5  6/5/2022          2  Sunny

### print max Temperature from temperature column

In [28]:
df['Temperature'].max()

45

### Print  mean vaule of Temperature

In [29]:
df['Temperature'].mean()

37.0

### describe command will give statistics of dataset

In [30]:
df.describe()

       Temperature  Windspeed
count     6.000000   6.000000
mean     37.000000   4.500000
std       6.449806   1.870829
min      28.000000   2.000000
25%      32.750000   3.250000
50%      37.500000   4.500000
75%      41.500000   5.750000
max      45.000000   7.000000

### print Temperature higher than 40

In [31]:
df[df.Temperature>=40]

        Day  Temperature  Windspeed  Event
2  3/5/2022           40          5   Rain
4  5/5/2022           42          3  Sunny
5  6/5/2022           45          2  Sunny

### For getting max temperature in row.

In [32]:
df[df.Temperature==df['Temperature'].max()]

        Day  Temperature  Windspeed  Event
5  6/5/2022           45          2  Sunny

### Max temperature Day

In [33]:
df[['Day','Temperature']][df.Temperature==df['Temperature'].max()]

        Day  Temperature
5  6/5/2022           45

### we want details of all event of particular date, for that first remove index, so we run "locate" command.

### Remove the index

In [34]:
df.set_index('Day',inplace=True)
df

          Temperature  Windspeed  Event
Day
1/5/2022           32          6   Rain
2/5/2022           35          7  Dusty
3/5/2022           40          5   Rain
4/5/2022           28          4   Snow
5/5/2022           42          3  Sunny
6/5/2022           45          2  Sunny

### Run Locate command

In [36]:
df.loc['4/5/2022']

Temperature      28
Windspeed         4
Event          Snow
Name: 4/5/2022, dtype: object

In [37]:
df.loc['2/5/2022']

Temperature       35
Windspeed          7
Event          Dusty
Name: 2/5/2022, dtype: object

### Restore the index.

In [33]:
df.reset_index(inplace=True)
df

   index        Day  Temperature  Windspeed  Event
0      0 2022-05-01           32          6   Rain
1      1 2022-05-02           35          7  Dusty
2      2 2022-05-03           40          5   Rain
3      3 2022-05-04           28          4   Snow
4      4 2022-05-05           42          3  Sunny
5      5 2022-05-06           45          2  Sunny