In [4]:
import pandas as pd
df=pd.read_csv("stock_data.csv", na_values=["not avaliable","n.a."])
df

  tickers            eps  REVENUE PRICE          PEOPLE
0   GOOGL          27.82       87   845      LARRY PAGE
1     WMT           4.61      484    65             N.A
2    MSFT             -1       85    64      BILL GATES
3     RIL  NOT AVAILABLE       50  1023  MUKESH AMABANI
4    TATA            5.6       -1   N.A      RATAN TATA

In [6]:
import pandas as pd
df=pd.read_csv("stock_data.csv", na_values={
    'eps':["NOT AVAILABLE","N.A."],
    'REVENUE':["NOT AVAILABLE","N.A.",-1],
    'PEOPLE':["NOT AVAILABLE","N.A."],           
})
df

  tickers    eps  REVENUE PRICE          PEOPLE
0   GOOGL  27.82     87.0   845      LARRY PAGE
1     WMT   4.61    484.0    65             N.A
2    MSFT  -1.00     85.0    64      BILL GATES
3     RIL    NaN     50.0  1023  MUKESH AMABANI
4    TATA   5.60      NaN   N.A      RATAN TATA

In [7]:
df.to_csv('new.csv',index=False)

In [8]:
df.to_csv("new.csv",columns=['tickers','eps'])

In [9]:
df.to_csv("new.csv",header=False)