In [1]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/pandas/16_ts_holidays/aapl.csv")
df.head()

        Date    Open    High     Low   Close    Volume
0   3-Jul-17  144.88  145.30  143.10  143.50  14277848
1   5-Jul-17  143.69  144.79  142.72  144.09  21569557
2   6-Jul-17  143.02  143.50  142.41  142.73  24128782
3   7-Jul-17  142.90  144.75  142.90  144.18  19201712
4  10-Jul-17  144.11  145.95  143.37  145.06  21090636

In [3]:
pd.date_range(start="7/1/2017",end="7/21/2017", freq="B")

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [ ]:
# Using "b" frequency not working because the 4th july is Holiday in USA, "B" is only consider weekend as holidays.

### Custom business day to generate US Holidays frequency.

In [4]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [5]:
us_cal = CustomBusinessDay(calendar=USFederalHolidayCalendar())

rng = pd.date_range(start="7/1/2017",end="7/23/2017", freq=us_cal)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [ ]:
# so this calander consider 4th july as holiday and their stock price is not consider.

In [7]:
df.set_index(rng, inplace=True)
df.head()

                 Date    Open    High     Low   Close    Volume
2017-07-03   3-Jul-17  144.88  145.30  143.10  143.50  14277848
2017-07-05   5-Jul-17  143.69  144.79  142.72  144.09  21569557
2017-07-06   6-Jul-17  143.02  143.50  142.41  142.73  24128782
2017-07-07   7-Jul-17  142.90  144.75  142.90  144.18  19201712
2017-07-10  10-Jul-17  144.11  145.95  143.37  145.06  21090636

### Custom Business Day

In [ ]:
# Let's say we want egypt custome business day calendar where Friday and saturday are leave and sunday is fullday.

In [ ]:
# For that we can use weekmask method.

In [8]:
egypt_weekdays="Sun Mon Tue Wed Thu"

In [9]:
b=CustomBusinessDay(weekmask=egypt_weekdays)
pd.date_range(start="7/1/2017", periods=30, freq="B")

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21', '2017-07-24',
               '2017-07-25', '2017-07-26', '2017-07-27', '2017-07-28',
               '2017-07-31', '2017-08-01', '2017-08-02', '2017-08-03',
               '2017-08-04', '2017-08-07', '2017-08-08', '2017-08-09',
               '2017-08-10', '2017-08-11'],
              dtype='datetime64[ns]', freq='B')

In [ ]:
# To add holidays to this calendar,

In [10]:
b = CustomBusinessDay(holidays=['2017-07-04', '2017-07-10'], weekmask=egypt_weekdays)

pd.date_range(start="7/1/2017",periods=20,freq=b)

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-05', '2017-07-06',
               '2017-07-09', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-16', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-23', '2017-07-24', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-30', '2017-07-31'],
              dtype='datetime64[ns]', freq='C')

### Mathematical operations on date object using custom business day.

In [11]:
from datetime import datetime
dt=datetime(2017,7,9)
dt

datetime.datetime(2017, 7, 9, 0, 0)

In [12]:
dt+1*b

Timestamp('2017-07-11 00:00:00')